target/
*.class
*.jar
*.war
*.log
.idea/
*.iml
.settings/
.project
.classpath
.vscode/
uploads/*
!uploads/.gitkeep
application-local.yml
.env
.claude/*

/biblioteca_maxipet.sql
/biblioteca-uploads/

/docker-compose.local.yml
